/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f1f1f1;
    background-image: url(sahu\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-size: 1.6rem;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #419bdb;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #419bdb;
    border-bottom: 3px solid #419bdb;
}

.hamburger {
    display: none;
    cursor: pointer;
    background-color: transparent;
}

.hamburger i {
    font-size: 2.5rem;
    color: black;
}

@media (max-width: 995px) {
    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        border-left: 3px solid #419bdb;
        border-bottom: 3px solid #419bdb;
        border-top-left-radius: 2rem;
        padding: 1rem;
        background-color: transparent;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block; 
    }

    nav a {
        display: block;
        font-size: 2.2rem;
        margin: 2rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #419bdb;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    header {
        padding: 1rem 5%;
    }

    .logo {
        font-size: 2.5rem;
    }

    nav a {
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    header {
        padding: 1rem 3%;
    }

    .logo {
        font-size: 2rem;
    }

    nav a {
        font-size: 1.4rem;
    }
}

@keyframes blurReveal {
    0% {
        filter: blur(12px);
        clip-path: inset(0 100% 0 0);
    }
    100% {
        filter: blur(0);
        clip-path: inset(0 0 0 0);
    }
}

.text-heading{
    text-align: center;
    margin-top: 10vw;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 60px;
    width: 100%;
    position: fixed;
    color: white;
    animation: blurReveal 1.5s ease-out forwards;
}

.text-para {
    text-align: center;
    margin-top: 2rem;
    max-width: 60vw;
    font-size: 1.6rem;
    display: block;
    margin-left: 20vw;
}

/* Container styles */
.badge-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Responsive */
@media (max-width: 1285px) {
    .badge-container {
        padding-left: 6rem; /* 96px */
        padding-right: 6rem;
    }
}

@media (max-width: 1024px) {
    .badge-container {
        flex-direction: row;
        padding-left: 7rem; /* 112px */
        padding-right: 7rem;
    }
}

@media (max-width: 640px) {
    .badge-container {
        flex-direction: row;
        padding-left: 1.5rem; /* 24px */
        padding-right: 1.5rem;
    }

    .badge {
        font-size: 10px;
    }
}

/* Badge styles */
.badge {
    font-size: 1.3rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background-color: #1f2937;
    color: white;
    border-radius: 0.6rem;
    transition: all 0.2s;
    margin: 0.5rem;
    flex: 0 0 auto;
    font-weight: 500;
}

.badge:hover {
    background-color: #374151; /* slightly lighter gray for hover */
}

@media (prefers-color-scheme: dark) {
    .badge:hover {
        background-color: #d1d5db; /* Tailwind gray-300 for dark mode */
        color: black;
    }
}

.skills {
    text-align: center;
    margin-top: 2vw;
    font-size: 60px;
    margin-bottom: 1.3rem;
    padding-bottom: 0.1rem;
    border-bottom: 3px solid #419bdb;
    display: inline-block;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

